/* styles */

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #FCCBF0, #FF5A57);
  transition: background 0.5s ease;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, #6700A3, #1B2062, #050C38);
    color: white;
  }
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}
